body{
    margin: 0;
    font-size: 1.2rem;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
wrapper{
    background: linear-gradient(lightgreen , green);
    height: 100vh;
}
.calculator{
    padding: 1rem;
    background-color: lightgray;
    max-width: 400px;
    display:grid;
    grid-template-areas: 
    "display display display display"
  " ac c per divide"
    "btn7 btn8 btn9 btnx "
   " btn4 btn5 btn6 minus"
    'btn1 btn2 btn3 plus'
   " btn0 dot equal equal"
    ;
    transform: perspective(20rem) rotateX(15deg);
    border-radius: 10px;
}


.display{
    background-color: lightgreen;
    height: 10vh;
    padding:0  0.5rem ;
    box-shadow: 0 10px 10px 1px rgba(179, 188, 179, 0.745);
    margin-bottom: 1rem;
    grid-area: display;
    text-align: right;
    overflow-wrap: break-word;
    max-width: 250px;
   

    
}
.btn{
    margin: 0.2rem 0.4rem;
    background-color: rgb(194, 190, 190);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.15s linear;
    
}
.btn:hover{
    background-color: lightgreen;
}
.btn-ac{
    grid-area: ac;
}
.btn-c{
    grid-area: c;
}
.btn-per{
    grid-area: per;
}
.btn-divide{
    grid-area: divide;
} 

.btn-7{
    grid-area: btn7;
} 
.btn-8{
    grid-area: btn8 ;
} 

.btn-9{
    grid-area: btn9;
} 
.btn-x{
    grid-area: btnx;
} 

.btn-4{
    grid-area: btn4;
} 

.btn-5{
    grid-area: btn5;
} 
.btn-6{
    grid-area: btn6;
} 

.btn-minus{
    grid-area: minus;
} 

.btn-1{
    grid-area: btn1;
} 
.btn-2{
    grid-area: btn2;
} 
.btn-3{
    grid-area: btn3;
} 
.btn-plus{
    grid-area: plus;
} 
.btn-0{
    grid-area: btn0;
} 

.btn-dot{
    grid-area: dot;
} 
.btn-equal{
    grid-area: equal;
} 